.DS_Store

__pycache__

.venv
.logs
.eval/**/*monitor.csv
.eval/**/*.yml
.eval/**/*.zip
.eva*/**/*monitor.csv
.eval1
.eval2
.vscode
.models
.optuna
.optuna-sbx
.optuna-zoo
.optuna-zoo2
.assets/raw_data.csv
.debug

Models/sb3_trpo.py
results/results.png

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls

ppo_humanoid_conv1d_test.zip
all.txt
.omega
runs/
.omega/
MUJOCO_LOG.TXT
models
.optuna_fd